body {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 1rem;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

* + h1 {
  margin-top: 3rem;
}

.middleman-logo {
  margin-bottom: 1rem;
  width: 10rem;
}

.edit-page {
  position: fixed;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #cccccc;
  bottom: 0px;
  width: 150px;
  border-radius: 6px 6px 0px 0px;
  text-align: center;

  a#edit-page-link {
    color: #fff;
    text-decoration: none;
  }
}
